<p-breadcrumb [model]="sharedService.items" [home]="sharedService.home"></p-breadcrumb>
<br>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <h5 class="m-0">Lista de motoristas</h5>
            <br>

            <p-table #dt 
                     [value]="filteredUsers" 
                     [columns]="cols" 
                     responsiveLayout="scroll" 
                     [rows]="10" 
                     [globalFilterFields]="['name','country.name','representative.name','status']" 
                     [rows]="10" 
                     [paginator]="true" 
                     [rowsPerPageOptions]="[10,20,30]" 
                     [showCurrentPageReport]="false" 
                     currentPageReportTemplate="Mostrando {first} de {last} do total de {totalRecords}" 
                     selectionMode="multiple" 
                     [rowHover]="true" 
                     dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText 
                                   type="text" 
                                   (input)="getItems($event)" 
                                   placeholder="Procurar..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="userFirstName">
                            Nome 
                            <p-sortIcon field="userFirstName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="userLastName">
                            Sobrenome 
                            <p-sortIcon field="userLastName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="userAddress">
                            Endereço 
                            <p-sortIcon field="userAddress"></p-sortIcon>
                        </th>
                        <th pSortableColumn="userCity">
                            Cidade 
                            <p-sortIcon field="userCity"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td style="width:25%; min-width:10rem;" (click)="openUserPage(user)">
                            <span class="p-column-title">Nome</span>
                            {{user.userFirstName}}
                        </td>
                        <td style="width:25%; min-width:10rem;" (click)="openUserPage(user)">
                            <span class="p-column-title">Sobrenome</span>
                            {{user.userLastName}}
                        </td>
                        <td style="width:25%; min-width:10rem;" (click)="openUserPage(user)">
                            <span class="p-column-title">E-mail</span>
                            {{user.userEmail}}
                        </td>
                        <td style="width:25%; min-width:10rem;" (click)="openUserPage(user)">
                            <span class="p-column-title">Celular</span>
                            {{user.userPhone}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton 
                                pRipple 
                                label="Novo usuário" 
                                icon="pi pi-user-plus" 
                                class="p-button-primary mr-2" 
                                (click)="showAddUserDialog()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
        </div>
    </div>
</div>
