<div class="grid">
	<div class="col-12">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label>Nome do endereço</label>
                        <input pInputText 
                               type="text" 
                               [(ngModel)]="addressService.newAddress.addressName"/>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Rua</label>
                        <input pInputText 
                               type="text" 
                               [(ngModel)]="addressService.newAddress.addressStreet"/>
                    </div>
                    <div class="field col-6 md:col-6">
                        <label htmlFor="userState">Número</label>
                        <input pInputText 
                               type="text" 
                               [(ngModel)]="addressService.newAddress.addressNumber"/>
                    </div>
                    <div class="field col-6 md:col-6">
                        <label htmlFor="userState">Bairro</label>
                        <input pInputText 
                               type="text" 
                               [(ngModel)]="addressService.newAddress.addressNeighborhood"/>
                    </div>
                    <div class="field col-6 md:col-6">
                        <label htmlFor="userLevel">Cidade</label>
                        <input pInputText 
                               type="text" 
                               [(ngModel)]="addressService.newAddress.addressCity"/>
                    </div>
                    <div class="field col-6 md:col-6">
                        <label htmlFor="userLevel">Complemento</label>
                        <input pInputText 
                               type="text" 
                               [(ngModel)]="addressService.newAddress.addressComplement"/>
                    </div>
                    <div class="field col-6 md:col-6">
                        <label htmlFor="userLevel">Latitude</label>
                        <input pInputText 
                               type="text" 
                               [(ngModel)]="addressService.newAddress.addressLat"/>
                    </div>
                    <div class="field col-6 md:col-6">
                        <label htmlFor="userLevel">Longitude</label>
                        <input pInputText 
                               type="text" 
                               [(ngModel)]="addressService.newAddress.addresslng"/>
                    </div>
                </div>
	</div>
    <p-toast [position]="toastPosition" key="ct" life="10000"></p-toast>
</div>