<p-breadcrumb [model]="sharedService.items" [home]="sharedService.home"></p-breadcrumb>

<br>
<div class="grid">
	<div class="col-12">
        <div class="card">
            <h5 class="m-0">Informações de {{selectedUnit.unitName}}</h5>
            <br>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-4">
                    <label>Nome</label>
                    <input pInputText 
                           type="text" 
                           [(ngModel)]="selectedUnit.unitName"
                           [readonly]="!allowEdit"/>
                </div>
                <div class="field col-6 md:col-4">
                    <label>Telefone</label>
                    <p-inputMask mask="(99) 99999-9999" 
                                 [(ngModel)]="selectedUnit.unitPhone" 
                                 placeholder="(99) 99999-9999"
                                 [readonly]="!allowEdit"></p-inputMask>
                </div>
                <div class="field col-6 md:col-4">
                    <label htmlFor="userLevel">E-mail</label>
                    <input pInputText 
                            type="text" 
                            [(ngModel)]="selectedUnit.unitEmail"
                            [readonly]="!allowEdit">
                </div>
            </div>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton 
                                pRipple 
                                label="Editar" 
                                icon="pi pi-user-edit" 
                                class="p-button-primary mr-2"
                                *ngIf="!allowEdit"
                                (click)="changeEdit()"></button>
                    </div>
                    <div class="my-2">
                        <button pButton 
                                pRipple 
                                label="Salvar" 
                                icon="pi pi-check" 
                                class="p-button-success mr-2"
                                *ngIf="allowEdit"
                                (click)="editUser()"></button>
                    </div>
                    <div class="my-2">
                        <button pButton 
                                pRipple 
                                label="Cancelar" 
                                icon="pi pi-times" 
                                class="p-button-secondary mr-2"
                                *ngIf="allowEdit"
                                (click)="changeEdit()"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton 
                                pRipple 
                                label="Apagar" 
                                icon="pi pi-trash" 
                                class="p-button-danger mr-2"
                                *ngIf="allowEdit"
                                (click)="confirmDelete()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
        </div>
	</div>
</div>
<app-address></app-address>
